<a href="https://colab.research.google.com/github/aryalunavath/2205a21021/blob/main/2205A21021_A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
Element={"Rakesh","rajkumar","sonu","srihari",500,1000,2000}
print(Element)

{2000, 'srihari', 'rajkumar', 'Rakesh', 500, 1000, 'sonu'}

In [2]:
Element={"Rakesh","rajkumar","sonu","srihari",500,1000,1000,500}
print(Element)

{'srihari', 'Rakesh', 'rajkumar', 500, 1000, 'sonu'}

In [3]:
bool_values={True,False,1,0}
print(bool_values)
print(len(bool_values))

{False, True}
2

In [4]:
a={"Rakesh","sonu"}
b={1,2,3,4,5,}
c={True,False}
print(a)
print(b)
print(c)
print(len(a))
print(len(b))
print(len(c))

{'Rakesh', 'sonu'}
{1, 2, 3, 4, 5}
{False, True}
2
5
2

In [5]:
Element={"Rakesh","rajkumar","sonu","srihari",500,1000,1000,500}
print(Element)
print(type(Element))

{'srihari', 'Rakesh', 'rajkumar', 500, 1000, 'sonu'}
<class 'set'>

In [6]:
Element=set(("Rakesh","rajkumar","sonu","srihari",500,1000,1000,500))
print(Element)
print(type(Element))

{1000, 'sonu', 'srihari', 'rajkumar', 'Rakesh', 500}
<class 'set'>

In [7]:
Element=set(("Rakesh","rajkumar","sonu","srihari",500,1000,1000,500))
for value in Element:
  print(value)

1000
sonu
srihari
rajkumar
Rakesh
500

In [8]:
Element=set(("Rakesh","rajkumar","sonu","srihari",500,1000,1000,500))
print("Rakesh" in Element)
print("rajkumar" not in Element)

True
False

In [9]:
Element={"Rakesh","rajkumar","sonu","srihari"}
print(Element)
Element.add("das")
print(Element)

{'srihari', 'Rakesh', 'rajkumar', 'sonu'}
{'sonu', 'srihari', 'Rakesh', 'rajkumar', 'das'}

In [10]:
Element={"Rakesh","rajkumar","sonu","srihari"}
point={"mango","apple","banana"}
Element.update(point)
print(Element)

{'srihari', 'Rakesh', 'rajkumar', 'banana', 'apple', 'mango', 'sonu'}

In [11]:
Element={"Rakesh","rajkumar","sonu","srihari"}
Element.remove("rajkumar")
print(Element)

{'srihari', 'Rakesh', 'sonu'}

In [12]:
Element={"Rakesh","rajkumar","sonu","srihari"}
Element.discard("rajkumar")
print(Element)

{'srihari', 'Rakesh', 'sonu'}

In [13]:
list=['rakesh','2003']
print(list)
del list[1]
print(list)

['rakesh', '2003']
['rakesh']

In [14]:
name=["Rakesh",'manji','suvali']
DOB=[2003,2004,2005]
print("name with maximum character",max(name))
print("name with minimum character",min(name))
print("DOB with maximum character",max(DOB))
print("DOB with minimum character",min(DOB))

name with maximum character suvali
name with minimum character Rakesh
DOB with maximum character 2005
DOB with minimum character 2003

In [15]:
name=['rakesh','suvalli',"manji"]
print("member: ",name)
name.pop()
print("member: ",name)
name.pop(1)
print("member: ",name)

member:  ['rakesh', 'suvalli', 'manji']
member:  ['rakesh', 'suvalli']
member:  ['rakesh']

In [16]:
tuple=("rakesh","vikram","ajay","ambadas")
print(tuple)
print(tuple[0])
print(tuple[0:2])
print(tuple[0:])
print(tuple[::-1])
print(tuple[2:0:-1])

('rakesh', 'vikram', 'ajay', 'ambadas')
rakesh
('rakesh', 'vikram')
('rakesh', 'vikram', 'ajay', 'ambadas')
('ambadas', 'ajay', 'vikram', 'rakesh')
('ajay', 'vikram')

In [17]:
tuple=("rakesh","vikram","ajay","ambadas")
tg=(200,2004,2002)
print(tuple*2)
print(tuple+tg)
list=["pavan","phanindra","rahul"]
print(list)
list[0]="rajkumar"
print(list)

('rakesh', 'vikram', 'ajay', 'ambadas', 'rakesh', 'vikram', 'ajay', 'ambadas')
('rakesh', 'vikram', 'ajay', 'ambadas', 200, 2004, 2002)
['pavan', 'phanindra', 'rahul']
['rajkumar', 'phanindra', 'rahul']

In [18]:
dict={}
print(dict)
dict["one"]="my opinon is my own"
print(dict)
dict["2"]="my self"
print(dict)
print(dict.keys())
print(dict.values())

{}
{'one': 'my opinon is my own'}
{'one': 'my opinon is my own', '2': 'my self'}
dict_keys(['one', '2'])
dict_values(['my opinon is my own', 'my self'])

In [19]:
base={"name":"rakesh","marks":848}
print(base)
print(base["name"])
print(base["marks"])
base["marks"]=900
print(base)
base["name"]="sonu"
print(base)
print(base.keys())
print(base.values())

{'name': 'rakesh', 'marks': 848}
rakesh
848
{'name': 'rakesh', 'marks': 900}
{'name': 'sonu', 'marks': 900}
dict_keys(['name', 'marks'])
dict_values(['sonu', 900])